<!--
  Generated template for the ItemsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Channels</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="goToAddItemPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item (click)="selectItem(item)" *ngFor="let item of itemsRef$ | async">
        <h2>{{item.itemName}}</h2>
        <p style="color: purple">{{item.itemDescription}}</p>
        <ion-badge style="background-color: purple;" item-end>{{item.itemNumber}}</ion-badge>
      </ion-item>
  </ion-list>
</ion-content>
