<!--
  Generated template for the AddItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Channel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Channel Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.itemName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Channel Topic</ion-label>
      <ion-input type="text" [(ngModel)]="item.itemDescription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Notifications per Day</ion-label>
      <ion-input type="number" [(ngModel)]="item.itemNumber"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" style="background-color: purple;"(click)="saveItem(item)">Add Channel</button>

</ion-content>
