
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<ion-content padding>
  <img src="assets/Logo.png" style="width: 80%" class="center">
  <ion-item>
    <ion-label floating>Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <button ion-button block (click)="login(user)">Login</button>
  <button ion-button block color="light" (click)="register(user)">Register</button>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-google"></a>
  <p ion-text color="danger">{{error}}</p>
</ion-content>