
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.buttons {
    padding: 32px ;
    font-size: 18;
}

.fa {
    padding: 15px ;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  